table {
  width: 100%;
}

ul {
  display: flex;
  gap: 10px;
}

ul li {
  list-style: none;
}

.titulo {
  text-align: center;
  margin-top: 20px;
}

.right {
  margin-left: auto;
}

mat-form-field {
  width: 140%;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 0 0 6%;
}

img {
  margin-top: 5px;
  width: 50px;
  height: 50px;
  border-radius: 10%;
}
